<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
<hr>

</div>
<div class="row">
    <div class="col-xs-12">
        <!-- <a href="#" class="list-group-item clearfix" *ngFor="let recipes of recipes">
            <div class="pull-left">
                <h4  class="list-group-item-heading" >{{recipes.name}}</h4>
                <p class="list-group-item-text">{{recipes.description}}</p>

            </div>
            <span class="pull-rigth">
                <img [src]="recipes.imagePath" alt="" class="img-responsive" style="max-height: 80px; ">
            </span>
        </a> -->
        <app-recipe-item *ngFor="let recipeEl of recipes" [recipes]="recipeEl"></app-recipe-item>
        
    </div>
</div>
